.attribution {
  font-size: 11px;
  font-weight: 500;
  word-spacing: 1px;
  text-align: center;
  padding: 8px;
  color: hsl(0, 0%, 17%);
  background-image: url(/src/images/pattern-bg.png);
  background-size: cover;
}

.attribution a {
  color: white
}

* {
  box-sizing: border-box;
}


p,
h1 {
  margin: 0;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
}

.top-section {
  background-image: url(/src/images/pattern-bg.png);
  background-size: cover;
  height: 40vh;
  min-height: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 30px;
}

h1 {
  color: white;
  font-weight: 500;
  font-size: 24px;
}

form {
  display: flex;
  height: 52px;
  width: 100%;
}

.ip-input {
  border: none;
  font-size: 15px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 14px 12px;
  width: 100%;
  cursor: pointer;
}

.submit-btn {
  padding: 14px 12px;
  background-color: hsl(0, 0%, 17%);
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
}

.arrow-icon {
  width: 10px;
}

.bottom-section {
  position: relative;
  height: 100vh;
}

#map {
  height: 100vh;
}

.leaflet-top.leaflet-left,
.leaflet-control-attribution {
  display: none;
}

.data-container,
.pair {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-container {
  z-index: 1000;
  background-color: white;
  gap: 30px;
  padding: 20px;
  position: absolute;
  height: 250px;
  left: 25px;
  right: 25px;
  top: -125px;
  border-radius: 12px;
  height: fit-content;
}

.pair {
  gap: 10px;
  font-weight: 500;
}

.pair-name {
  color: hsl(0, 0%, 59%);
  font-size: 14px;
}

.pair-data {
  color: hsl(0, 0%, 17%);
  font-size: 20px;
}

@media only screen and (min-width: 376px) {
 .top-section {
  height: 38vh;
 }
}

@media only screen and (min-width: 550px) {
  h1 {
    font-size: 26px;
    margin-top: 10px;
  }
  .top-section {
    height: 34vh;
    min-height: 250px;
  }
  form {
    max-width: 500px;
  }

  .data-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    height: 150px;
    top: -75px;
    left: 10%;
    right: 10%;
    min-width: 450px;
  }

  .pair {
    align-items: flex-start;
    border-right: 1px solid hsl(0, 0%, 59%);;
  }

  .pair:nth-child(4) {
    border: none;
  }
}
